{% extends'@AcmeStore/base.html.twig' %}



{% block body %}

    <h1> New category</h1>


    {{ include('AcmeStoreBundle:category:_formCategory.html.twig') }}

    <a href="{{ path('category_list') }}"> Back to list categories</a>
{% endblock %}